*{
    margin: 0px;
    padding: 0px;
    /* border: 1px solid white; */
    font-size: 16px;
    color:#b6b6b6;
    --transition-speed: 600ms ;
    font-family: "YOUNG SERIF";
}
h1{
    font-size: 4rem;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 5rem;
}
main{
    margin-left: 5rem;
    margin-right: 0rem;
    padding: 1rem;
    text-align: center;
    width:100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.app-container{
    background-image: url("../assets/mrslogo.svg");
      background-color: #141414;
      background-size: cover;
      background-size: contain;
      height: 100vh;
      margin: auto;
      background-repeat: no-repeat;
      background-position: center;
      overflow: hidden;
  }
  .app-container::-webkit-scrollbar{
    width: 0.25rem;
    fill: #141414;
  }
  .app-container::-webkit-scrollbar-track{
    fill: #141414;
  }
  .app-container::-webkit-scrollbar-thumb{
    fill: #221f1f;
  }
@media only screen and (max-width: 600px) {
    .app-container{
        background-image: url("../assets/mrslogo.svg");
        background-color: #000000;
        background-size: contain;
        height: 100vh;
        margin: auto;
        background-repeat: no-repeat;
        background-position: center;
        overflow-x: hidden;
      }
      main {
        margin: 0;
      }
    h1{
          font-size: 1.8rem;
          margin-top: 5rem;
    }
}
/* large screens */
@media screen and (min-width:600px) {
}
    