.display_form{
    display: flex;
    background-color: #221f1f;
    flex-direction: column;
    justify-content: center;
    margin:auto;
    width: 45%;
    height: 60%;
    border-radius: 1rem;
    transition: 200ms ease-in-out;
}
.display_form:hover{
    transform: scale(1.05);
    box-shadow:(0 6px 20px #141414);
    transition: transform var(--transition-speed) ease-in-out;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
p{
    font-size: 1.5rem;
    color: #ffffff;
}
p:hover{
    color: #e50914;
}
.button-confirm {
    margin: 30px auto 15px auto;
    width: 120px;
    height: 40px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 17px;
    font-weight: 600;
    color: var(--font-color);
    cursor: pointer;
    border-radius: 1rem;
  }
button:hover {
    background-color: #141414;
    color: #e50914;
  }
/* small screens */
@media only screen and (max-width: 600px) {  

    h2{
        font-size:1.5rem;
    }
    .display_form{
        display: flex;
        background-color: #23232e;
        flex-direction: column;
        justify-content: center;
        margin:auto;
        width: 80%;
        height: 60%;
        border-radius: 1rem;
    }
  }
/* large screens */
@media screen and (min-width:600px) {
}