.navbar{
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-color: #221f1f;
    /* border-radius: 1rem; */
    transition: width 150ms ease;
    /* overflow: scroll; */
}
.navbar-nav{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.nav-item{
    width: 100%;
}
.nav-link{
    display: flex;
    align-items: center;
    height: 5rem;
    color: #141414;
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}
.nav-button{
    display: flex;
    align-items: center;
    height: 5rem;
    color: #141414;
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}
.nav-link:hover{
    filter: grayscale(0%) opacity(1);
    background-color: #141414;
    color: #E50914;
}
.link-text{
    display: none;
    margin-left: 1rem;
}
.nav-link svg{
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
    fill: #737373;
}
.nav-link:hover svg{
    fill:#E50914;
    transition: var(--transition-speed); 
}
.logo{
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: #ffffff;
    background: #221f1f;
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
}
.logo svg{
    transform: rotate(0deg);
    transition: transform var(--transition-speed);
    fill: #737373;
}
.logo:hover svg{
    fill: #E50914;
}
.logo-text
{
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
}

.navbar :hover .logo svg{
    transform: rotate(-180deg);
}
.nav-item:last-child{
    margin-top:auto;
}
@media only screen and (max-width: 600px){
    .navbar {
        top: 0;
        width: 100vw;
        height: 5rem;
      }
    
      .logo {
        display: none;
      }
    
      .navbar-nav {
        flex-direction: row;
      }
    
      .nav-link {
        justify-content: center;
      }
}
@media screen and (min-width:600px) {
    .navbar{
        width: 5rem;
        height: 100vh;
    }
    .navbar:hover{
        width: 16rem;
    }
    .navbar:hover .link-text{
        display: inline;
    }
    .navbar:hover .logo svg{
         margin-left: 11rem;
    }
    .navbar:hover .logo-text{
        left: 0px;
    }
}