/* From Uiverse.io by andrew-demchenk0 */ 
.form {
  --input-focus: #737373;
  --font-color: #ffffff;
  --font-color-sub: #737373;
  --bg-color: #221f1f;
  --main-color: #737373;
  padding: 20px;
  background: #221f1f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 1rem;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  /* overflow-y: auto; */
  height: 70%;
  width: 30%;
  margin: auto 9% auto 0;
}
.form ::-webkit-scrollbar{
  width:8px;
}
.form::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.form::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.form::-webkit-scrollbar-thumb:hover {
  background: #444451;
}

.title {
  color: var(--font-color);
  font-weight: 900;
  font-size: 20px;
  margin-bottom: 0px;
}

.title span {
  color: var(--font-color-sub);
  font-weight: 600;
  font-size: 17px;
}

.input {
  width: 250px;
  height: 40px;
  border-radius: 0.5rem;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 15px;
  font-weight: 600;
  color: var(--font-color);
  padding: 5px 10px;
  outline: none;
}

.input::placeholder {
  color: var(--font-color-sub);
  opacity: 0.8;
}

.input:focus {
  border: 2px solid var(--input-focus);
}

.register-with {
  display: flex;
  gap: 10px;
}

.button-log {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  color: var(--font-color);
  font-size: 25px;
}

.icon {
  width: 25px;
  height: 25px;
  fill: var(--font-color);
}
.icon:hover{
  fill:#e50419
}

.button-log:active, .button-confirm:active {
  box-shadow: 0px 0px var(--main-color);
  transform: translate(3px, 3px);
}

.button-confirm {
  margin: 1rem auto;
  width: 120px;
  height: 40px;
  border-radius: 1rem;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 17px;
  font-weight: 600;
  color: var(--font-color);
  cursor: pointer;
}
.button-login {
  margin: 0.5rem auto 0 auto;
  width: 120px;
  height: 40px;
  border-radius: 1rem;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 17px;
  font-weight: 600;
  color: var(--font-color);
  cursor: pointer;
}
.registerspan{
  margin: 0 auto;
}